.header-flex{
	display: flex;
	justify-content: space-around;
}
.header-bg{
	background-image: url(../img/baneri.jpg);
	width: 100%;
	height: 325px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
}
.nav-ul{
	display: flex;
	margin-top: 32px;
}
.home{
	color: #5863F8;
}
li{
	margin-left: 50px;
}
a{
	color: white;
	font-size: 14px;
	margin-top: 32px;
}
.satauri{
	margin-top: 96px;
	margin-left: 295px ;
	font-size: 42px;
	max-width: 195px;
	width: 100%;
}
@media only screen and (max-width: 1300px) {
	.satauri{
		margin-left: 150px;
	}
}
@media only screen and (max-width: 1000px) {
	.satauri{
		margin-left: 70px;
	}
}
@media only screen and (max-width: 730px) {
	.satauri{
		text-align: center;
	}
	.nav-ul{
		display: flex;  
  		flex-wrap:wrap;
	}
	.header-flex{
		margin-left: 10px;
	}
}
@media only screen and (max-width: 356px) {
	.satauri{
	text-align: center;	
	}
	.nav-ul{
		display: flex;
		justify-content: space-between;
	}
	.header-flex{
		margin-left: 10px;
	}
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 42px;
}
p{
	font-family: 'Raleway', sans-serif;
}
a {
	font-family: 'Raleway', sans-serif;
}
/*seqcia 1*/
.box{
	display: flex;
	max-width: 1230px;
	width: 100%
	height: 540px;
	margin: 0 auto;
	margin-top: 190px;
}
.box1{
	margin-top: 26px;
	max-width: 520px;
	width: 100%;
	height: 435px;
}
.box2{
	max-width: 550px;
	width: 100%;
	height: 461px;
}
.satauri1{
	display: flex;
	flex-direction: column;
	max-width: 374px;
	width: 100%;
	height: 130px;
}
.text{
	max-width: 444px;
	width: 100%;
	height: 170px;
	font-size: 16px;
	color: black;
}
.p1{
	margin-top: 20px;
}
.home1{
	color: black;
}
button{
	background-color: #5863F8;
	max-width: 140px;
	width: 100%;
	height: 51px;
	margin-top: 95px;
}
@media only screen and (max-width: 1060px) {
	.box1{
		width: 50%;
	}
}
@media only screen and (max-width: 850px) {
	.home1{
		font-size: 20px;
	}
	.home{
		font-size: 12px;
	}
	.text{
		margin-top: 15px;
	}
	.satauri1{
		height: 50px;
	}
}
@media only screen and (max-width: 580px) {
	button{
		margin-top: 20px;
	}
}
@media only screen and (max-width: 580px) {
	.text{
		font-size: 14px;
	}
	button{
		margin-top: 179px;
	}
}

@media only screen and (max-width: 555px) {
	button{
		margin-top: 120px;
	}
}
@media only screen and (max-width: 475px) {
	button{
		margin-top: 60px;
	}
	.text{
		margin-top: 30px;
	}
}
/*box2*/
.ori-surati{
	max-width: 550px;
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: space-between;
}
.didi-surati{
	width: 550px;
	width: 100%;
	height: 260px;
	margin-top: 10px;
	
}
.surati3{
	max-width: 550px;
	width: 100%;
}
@media only screen and (max-width: 982px) {
	.box2{
		width: 50%;
	}
	.ori-surati{
		width: 50%;
	}
}
.@media only screen and (max-width: 657px) {
	.surati1{
		width: 100%;
	}
	.surati3{
		height: 100px;
	}
}
.surati1,
.surati2{
	max-width: 260px;
	width: 100%;
}
@media only screen and (max-width: 720px) {
	.didi-surati{
		display: none;
	}
	.ori-surati{
		flex-wrap: wrap;
		width: 100%;
	}
	.ori-surati{
		margin: 0 auto;
		margin-top: 50px;
	}
	.surati2{
		margin-top: 16px;
	}
}
@media only screen and (max-width: 480px) {
	.surati1{
		margin-top: 0px;
	}
}
@media only screen and (max-width: 450px) {
	.surati2{
		margin-top: 90px;
	}
}

@media only screen and (max-width: 535px) {
	.surati2{
		margin-top: 30px;
	}
}
@media only screen and (max-width: 430px) {
	.ori-surati{
		margin-top: 100px;
	}
}

/*button*/

@media only screen and (max-width: 984px) {
	button{
		margin-top: 80px;
	}
}

@media only screen and (max-width: 920px) {
	button{
		margin-top: 60px;
	}
}

@media only screen and (max-width: 890px) {
	button{
		margin-top: 50px;
	}
}
@media only screen and (max-width: 845px) {
	button{
		margin-top: 30px;
	}
}
@media only screen and (max-width: 745px) {
	button{
		margin-top: 110px;
	}
}
@media only screen and (max-width: 680px) {
	button{
		margin-top: 70px;
	}
}

@media only screen and (max-width: 440px) {
	.text{
		font-size: 12px;
	}
}
/*section 2*/
.header2-bg{
	position: relative;
	background-image: url(../img/baneri2.jpg);
	width: 100%;
	height: 615px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 90px;
}
.satauri2{
	max-width: 376px;
	width: 100%;
	height: 115px;
	padding-top: 113px;
	margin-left: 139px;
	color: white;
}
.abus{
	position: absolute;
	max-width: 100px;
	width: 100%;
	height: 20px;
	font-size: 14px;
	color: #5863F8;
	top: 90px;
	left: 139px;
}